<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="MyUrls" type="ConfigDemo2.UrlsSection,ConfigDemo2"/>
	</configSections>

	<MyUrls name="123">
		<simple name="simple1" url="simple.com" port="1111"></simple>
		<urls>
			<add name="url1" url="hjmos1.com" port="2221" />
			<add name="url2" url="hjmos2.com" port="2222" />
			<add name="url3" url="hjmos3.com" port="2223" />
		</urls>
	</MyUrls>
</configuration>
