<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Authority" value="线路" />
		<!--http://10.51.13.229:30768 非功能环境-->
		<!--10.38.2.12:30768  测试环境-->
		<!--10.38.2.12:30768  开发环境-->
		<!--172.23.20.173:30767-->
		<!--线网指挥系统Restful地址-->
		<add key="NccRestfulUrl" value="http://172.23.20.173:30767" />

		<!--线网图的地址(废弃)-->
		<add key="WireNetworkAddress" value="http://172.23.20.173:30767/hjmos-emergency-command-web/line-net" />

		<!--线网Gis的地址-->
		<add key="WireGisAddress" value="http://172.23.20.173:30767/hjmos-tech-gis-web/line-net-gis" />

		<!--线网Gis版本线网图的地址-->
		<add key="WireGisNetWorkAddress" value="http://172.23.20.173:30767/hjmos-tech-gis-web/line-net-gis-h5" />

		<!--工作管理的地址-->
		<add key="WorkManagerAddress" value="http://172.23.20.173:30767/hjmos-emergency-command-web/dispatch-work/schedule-manage" />

		<!--预案管理的地址-->
		<add key="PlanManagerAddress" value="http://172.23.20.173:30767/hjmos-emergency-command-web/emergency-plan/detail" />

		<!--视频源管理的地址-->
		<add key="VideoManagerAddress" value="http://172.23.20.173:30767/hjmos-bussiness-mediacenter-web/resource-manage" />

		<!--视频巡检管理的地址-->
		<add key="VideoinspectionManagementAddress" value="http://172.23.20.173:30767/hjmos-bussiness-mediacenter-web/video-patrol" />

		<!--资源管理的地址-->
		<add key="ResourceManagerAddress" value="http://172.23.20.173:30767/hjmos-emergency-command-web/emergency-resource/contacts" />

		<!-- 车站平面图管理的地址 -->
		<add key="StationLayerManagerAddress" value="http://172.23.20.173:30767/hjmos-basicdata-web/floorplan" />

		<!--综合监控的restful接口的服务地址-->
		<add key="ISCSRestfulUrl" value="http://10.38.2.12:30666" />

		<!--WebSocket实时推送的服务地址-->
		<add key="WSRealTimePushAddress" value="ws://172.23.20.173:30767" />

		<!--MQ的服务地址-->
		<add key="MQAddress" value="http://10.38.2.12:30076" />

		<!--线网态势视频监控设备的参数，默认为null，存在多个用逗号隔开例如：122222,1333333,444444-->
		<add key="CctvEquipmentParameters" value="" />

		<!--Ice服务地址-->
		<add key="IceAddress" value="10.38.2.12" />

		<!--Ice服务端口-->
		<add key="IcePort" value="30999" />

		<!--Ice服务名称-->
		<add key="IceServiceName" value="BusinessDataPointAccessor" />

		<!--Ice客户端地址-->
		<add key="IceClietnIP" value="172.23.20.210" />

		<!--Ice客户端端口-->
		<add key="IceClientPort" value="20001" />

		<!--全息感知-监测以下专业的设备告警信息-->
		<add key="DeviceWarningMajor" value="PSCADA,WF,GDJC,ZNZM,ZNSS,DQHZ,UPS,EPS,ZNHK,ZNJD,FAS,PSD,FG,SIG,AFC,AJ,ACS,TAM,CLK,ZNWSJ,GD,CLYW" />

		<!--全息感知-监测8大专业通讯状态-->
		<add key="CommunicationStatusMajor" value="PSCADA,ATS,BAS,CCTV,AFC,PSD,PA,PIDS" />

		<!--Unity3D与后端连接的WebSocket路径-->
		<add key="Unity3dWebSocketUrl" value="ws://10.51.13.229:30768/webim-server/websocket3D/" />

		<!--GIS车上3D模型-->
		<add key="GISStation3DModel" value="http://172.23.20.209:8082/gis-station-model?stationCode=0120" />

		<!--全息感知可以点击的线路的集合，以线路的编号设置，多个用逗号隔开,默认显示18和22号线的线路支持点击 例：18,22-->
		<add key="HoloceptionEnableLineNos" value="18,22" />

		<!--全息感知线路客流的图示链接-->
		<add key="HoloceptionLinePassengerFlowAddress" value="http://10.51.13.229:30768/hjmos-tech-gis-web/line-net-gis-eachLine?lineNoId=" />
		<!--全息感知设备态势的图示链接-->
		<add key ="DeviceManagerAddress" value="http://10.51.13.229:30768/hjmos-bussiness-device-web/device-manage" />

		<!-- 长沙6组态 socket 地址 -->
		<add key="CS6DeviceAddress" value="ws://172.25.10.21:9000" />

		<add key="DataKanbanAddress" value="http://172.23.20.173:50401/hjmos-business-dataview-web/analysis/dashboard/show/036ff78dc17d73f643fa/" />

		<add key ="OfflineMode" value="true" />

		<!-- 关站接口地址 -->
		<add key ="OpenCLoseStationAddress" value="http://172.23.20.159:5678" />
		<!--<add key ="OpenCLoseStationAddress" value="http://10.38.2.12:30567" />-->

		<!-- n8n 视频服务地址 -->
		<!--<add key="n8nVideoRestfulUrl" value="http://172.23.20.173:5678" />-->
		<!-- 长沙组态路径 -->
		<add key="HMIAddress" value="\HMI\CS\HMI" />
	</appSettings>
</configuration>