<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="webConfig" type="ConfigDemo.WebConfigSection,ConfigDemo"/>
		<section name="mqConfig" type="ConfigDemo.CommonConfigSection,ConfigDemo"/>
	</configSections>
	<webConfig name="webConfig" url="http://172.23.20.173:30767" description="Web界面路径">
		<paths>
			<add key="WireGisAddress" value="/hjmos-tech-gis-web/line-net-gis" description="线网Gis的地址"></add>
			<add key="WireGisNetWorkAddress" value="/hjmos-tech-gis-web/line-net-gis-h5" description="线网Gis版本线网图的地址"></add>
			<add key="WorkManagerAddress" value="/hjmos-emergency-command-web/dispatch-work/schedule-manage" description="工作管理的地址"></add>
		</paths>
	</webConfig>
	<mqConfig name="mqConfig" description="mq相关配置">
		<settings>
			<add key="DeviceWarningMajor" value="PSCADA,WF,GDJC,ZNZM,ZNSS,DQHZ,UPS,EPS,ZNHK,ZNJD,FAS,PSD,FG,SIG,AFC,AJ,ACS,TAM,CLK,ZNWSJ,GD,CLYW" description="全息感知-监测以下专业的设备告警信息"></add>
			<add key="CommunicationStatusMajor" value="PSCADA,ATS,BAS,CCTV,AFC,PSD,PA,PIDS" description="全息感知-监测8大专业通讯状态"></add>
		</settings>
	</mqConfig>

</configuration>