<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="Modules" type="Hjmos.Config.ModuleSection,Hjmos.Config" />
	</configSections>
	<appSettings>
		<add key="Title" value="6号线智慧地铁管控平台" />
		<add key="IsIsce3D" value="true" />
	</appSettings>
	<Modules>
		<Module name="全息感知" authority="1" value="Hjmos.Ncc.Holoception.All.dll">
			<!--<ModuleElement name="线路" number="06" value="Hjmos.Ncc.Holoception.LineV1.dll" />-->
			<ModuleElement name="线路" number="06" isStation="false" value="Hjmos.Ncc.Holoception.Line.dll" />
			<ModuleElement name="车站" value="Hjmos.Ncc.Holoception.Station.dll" />
		</Module>
		<Module name="应急指挥" authority="2" value="Hjmos.Ncc.EmergencyCommandV1.dll" />
		<Module name="设备监控" authority="4" value="Hjmos.Ncc.DeviceMonitoring.dll" />
		<Module name="视频监控" authority="32" value="Hjmos.Ncc.Cctv.dll" />
		<Module name="数据看板" authority="8" value="Hjmos.Ncc.DataKanban.dll" />
		<Module name="智能应用" authority="16" value="Hjmos.Ncc.IntelligentApp.dll" />
	</Modules>
</configuration>