<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf"/>
  </configSections>

  <modules>
    <module assemblyFile="PrismAopModuleDemo.dll" moduleType="PrismAopModuleDemo.AopModule, PrismAopModuleDemo, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="AopModule"/>
    <module assemblyFile="PrismConfigModuleDemo.dll" moduleType="PrismConfigModuleDemo.ConfigModule, PrismConfigModuleDemo, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="ConfigModule"/>
  </modules>
 
</configuration>