<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="webConfig" type="Hjmos.Config.Models.WebConfigSection,Hjmos.Config"/>
		<section name="mqConfig" type="Hjmos.Config.Models.CommonConfigSection,Hjmos.Config"/>
		<section name="iceConfig" type="Hjmos.Config.Models.CommonConfigSection,Hjmos.Config"/>
		<section name="commonConfig" type="Hjmos.Config.Models.CommonConfigSection,Hjmos.Config"/>
	</configSections>

	<webConfig name="WebConfig" description="Web 界面相关配置" >
		<paths url="http://172.23.20.173:30767">
			<add key="WireGisAddress" value="/hjmos-tech-gis-web/line-net-gis" description="线网Gis的地址" />
			<add key="WireGisNetWorkAddress" value="/hjmos-tech-gis-web/line-net-gis-h5" description="线网Gis版本线网图的地址" />
			<add key="WorkManagerAddress" value="/hjmos-emergency-command-web/dispatch-work/schedule-manage" description="工作管理的地址" />
			<add key="PlanManagerAddress" value="/hjmos-emergency-command-web/emergency-plan/detail" description="预案管理的地址" />
			<add key="VideoManagerAddress" value="/hjmos-bussiness-mediacenter-web/resource-manage" description="视频源管理的地址" />
			<add key="VideoinspectionManagementAddress" value="/hjmos-bussiness-mediacenter-web/video-patrol" description="视频巡检管理的地址" />
			<add key="ResourceManagerAddress" value="/hjmos-emergency-command-web/emergency-resource/contacts" description="资源管理的地址" />
			<add key="StationLayerManagerAddress" value="/hjmos-basicdata-web/floorplan" description="车站平面图管理的地址" />
		</paths>
		<settings>
			<add key="WSRealTimePushAddress" value="ws://172.23.20.173:30767" description="WebSocket实时推送的服务地址" />
		</settings>
	</webConfig>

	<mqConfig name="MQConfig" description="MQ 相关配置">
		<settings>
			<add key="MQAddress" value="http://10.38.2.12:30076" description="MQ的服务地址" />
			<add key="DeviceWarningMajor" value="PSCADA,WF,GDJC,ZNZM,ZNSS,DQHZ,UPS,EPS,ZNHK,ZNJD,FAS,PSD,FG,SIG,AFC,AJ,ACS,TAM,CLK,ZNWSJ,GD,CLYW" description="全息感知-监测以下专业的设备告警信息" />
			<add key="CommunicationStatusMajor" value="PSCADA,ATS,BAS,CCTV,AFC,PSD,PA,PIDS" description="全息感知-监测8大专业通讯状态" />
		</settings>
	</mqConfig>

	<iceConfig name="ICEConfig" description="ICE 相关配置">
		<settings>
			<add key="IceAddress" value="10.38.2.12" description="服务地址"/>
			<add key="IcePort" value="30999" description="服务端口"/>
			<add key="IceServiceName" value="BusinessDataPointAccessor" description="服务名称"/>
			<add key="IceClientPort" value="20001" description="客户端端口"/>
		</settings>
	</iceConfig>

	<commonConfig name="CommonConfig" >
		<settings>
			<add key="NccRestfulUrl" value="http://172.23.20.173:30767" description="线网指挥系统Restful地址" />
			<add key="ISCSRestfulUrl" value="http://10.38.2.12:30666" description="综合监控的restful接口的服务地址" />
			<add key="Unity3dWebSocketUrl" value="ws://10.51.13.229:30768/webim-server/websocket3D/" description="Unity3D与后端连接的WebSocket路径" />
			<add key="GISStation3DModel" value="http://172.23.20.209:8082/gis-station-model?stationCode=0120" description="GIS车上3D模型" />
			<add key="HoloceptionEnableLineNos" value="18,22" description="全息感知可以点击的线路的集合，以线路的编号设置，多个用逗号隔开,默认显示18和22号线的线路支持点击 例：18,22" />
			<add key ="DeviceManagerAddress" value="http://10.51.13.229:30768/hjmos-bussiness-device-web/device-manage" description="全息感知设备态势的图示链接" />
			<add key="CS6DeviceAddress" value="ws://172.25.10.21:9000" description="长沙6组态 socket 地址" />
			<add key="DataKanbanAddress" value="http://172.23.20.173:50401/hjmos-business-dataview-web/analysis/dashboard/show/036ff78dc17d73f643fa/" description="数据看板" />
			<add key ="OfflineMode" value="true" description="离线模式" />
			<add key ="OpenCLoseStationAddress" value="http://172.23.20.159:5678" description="开关站接口地址" />
			<add key="HMIAddress" value="\HMI\CS\HMI" description="长沙组态路径" />
			<add key="Authority" value="线路" />

		</settings>
	</commonConfig>


	<!--<mqConfig name="" description="">
		<settings>
			<add key="" value="" description="" />
		</settings>
	</mqConfig>-->


	<!--<appSettings>
	
	</appSettings>-->
</configuration>